@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond&family=Mea+Culpa&family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-cursive: 'Mea Culpa', sans-serif;
  --font-main: 'Urbanist', sans-serif;
  --color-main: '#F8F4EF';
}

* {
  text-align: center;
}
